
#chat {
}

.chat-list-wrapper {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
}

.chat-message * {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.chat-message {
	border-bottom: 1px solid #e7e7e7;
	padding: 3px 0px 3px 0px;
	margin: 0 10px 0 10px;
	line-height: 16px;
}

.chat-message-date {
	font-size: 11px;
	font-weight: normal;
	float: right;
	color: #acb1a2;
	position: relative;
	display: none;
	border: 1px solid #aeaeae;
}

.chat-message:hover .chat-message-date,
#chat :last-child .chat-message-date {
	display: block;
}


.chat-showAll {
	margin: 130px 0 0 0;
}

.chat-message-empty {
	padding: 30% 0 0 0;
	text-align: center;
}

.chat-message.my {
	background-color: #fff;
}



#chat :last-child {
	border: none;
}


.chat-message-pan {
	font-size: 11px;
	color: #acb1a2;
	font-weight: bold;
}

.chat-message-message-del {
	font-size: 11px;
	font-weight: normal;
	color: #acb1a2;
	display: none;
}

.chat-message:hover .chat-message-message-del {
	display: inline;
}

.chat-message-message {
	font-size: 12px;
	clear: both;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word;
}


/*** form ***/

#chatFormDIV {
	margin: 6px 10px 0 10px;
}

#chatMessage {
	width: 265px;
	background: url(/img/ico_submit.png) 97% 90% no-repeat #fff;
	font-style: 12px !important;
	line-height: 16px !important;
}

